In [1]:
import os, sys
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandasql import sqldf

rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)

import scripts.read_data_from_db as rd
import scripts.utils as util

In [3]:
df = rd.read_data(table_name='processed_data')

INFO:scripts.read_data_from_db:Data fetched succesfully

In [4]:
pysqldf = lambda q: sqldf(q, globals())

## User Engagement Analysis

### Session Frequency per user

In [15]:
query = ''' 
        SELECT
            "MSISDN/Number" AS MSISDN,
            COUNT(DISTINCT "Bearer Id") AS SessionFrequency
        FROM df
        GROUP BY "MSISDN/Number"
        ORDER BY SessionFrequency DESC
        LIMIT 10
'''

result_df = pysqldf(query)
result_df

         MSISDN  SessionFrequency
0  3.362632e+10               520
1  3.362578e+10                17
2  3.361489e+10                17
3  3.365973e+10                16
4  3.376054e+10                15
5  3.367588e+10                15
6  3.366716e+10                13
7  3.376041e+10                12
8  3.362708e+10                12
9  3.360452e+10                12

### Session duration per user

In [11]:
query = '''
    SELECT 
        "MSISDN/Number",
        SUM("Dur. (ms)") AS SessionDuration
    FROM df
    GROUP BY "MSISDN/Number" 
    ORDER BY SessionDuration DESC
    LIMIT 10;
    ''' 

result_df = pysqldf(query)
result_df

   MSISDN/Number  SessionDuration
0   3.362632e+10       81238323.0
1   3.362578e+10       18553754.0
2   3.361489e+10        9966898.0
3   3.376054e+10        9279434.0
4   3.366716e+10        8744914.0
5   3.366284e+10        6614270.0
6   3.366469e+10        6288730.0
7   3.360313e+10        6287761.0
8   3.366746e+10        5649882.0
9   3.376041e+10        5321667.0

### Total traffic per user

In [17]:
query = ''' 
    SELECT 
        "MSISDN/Number",
        SUM("Total DL (Bytes)") AS TotalDownload,
        SUM("Total UL (Bytes)") AS TotalUpload,
        (SUM("Total DL (Bytes)") + SUM("Total UL (Bytes)")) AS TotalTraffic
    FROM df
    GROUP BY "MSISDN/Number"
    ORDER BY TotalTraffic DESC
    LIMIT 10;
'''

pysqldf(query)

   MSISDN/Number  TotalDownload   TotalUpload  TotalTraffic
0   3.362632e+10   4.942252e+11  4.499495e+10  5.392201e+11
1   3.361489e+10   8.156743e+09  6.894830e+08  8.846226e+09
2   3.376054e+10   7.811295e+09  7.034786e+08  8.514774e+09
3   3.362578e+10   7.770043e+09  7.295774e+08  8.499621e+09
4   3.367588e+10   7.309542e+09  5.815688e+08  7.891111e+09
5   3.365973e+10   7.081602e+09  6.242603e+08  7.705863e+09
6   3.366646e+10   6.903440e+09  4.050610e+08  7.308501e+09
7   3.376041e+10   6.610852e+09  5.215189e+08  7.132371e+09
8   3.366471e+10   6.400774e+09  4.712445e+08  6.872018e+09
9   3.369879e+10   6.010556e+09  5.303431e+08  6.540899e+09